<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>   
    <title><%= data.title %></title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
    <p>test</p>
    <h1><%= data.name %></h1>
    <table>
        <% data.list.forEach(function(el){ %>
            <tr>
                <td><%= el.name %></td>
                <td><%= el.age %></td>
            </tr>
        <% }) %>
    </table>
    <label>session: <%= data.session %></label>
</body>
</html>